.container1{
    border: 1px solid green;
    height: 400px;
    display: flex;
    flex-wrap: nowrap;  /* By default  */
    flex-wrap: wrap-reverse;
    flex-wrap: wrap;

}

.box{
    width: 100px;
    border: 1px solid brown ;
    background-color: aqua;

}