.container{
    border: 2px solid green;
    height: 400px;
    display: flex; 
    flex-wrap: wrap;

}

.box{
    border: 1px solid brown;
    background-color: aqua;
    width: 100px;

}

#box1{
    order: 3;
    flex: 3 4 2 120px;
    flex-grow: 1;
    
}
#box2{
    order: 4;
    align-self: stretch;
    align-self: flex-start;
    align-self: flex-end;
    align-self: center; 
    
}
#box3{
    order: 2;
    flex-shrink: 4;  /*Handle speed of squizzing  */

}
#box4{
   order: 1;
}