  /* in this case box is equal to the actual content */
.box1{
    border: 1px solid black;
    min-height: 100px;
}
   /*  in this case height will become fixed and if content is more than box height it will become overflow
    */
.box2{
    border: 1px solid black;
    max-height: 150px;
    width: 200px;
}
  /* To avoid overflow, use overflow property */

  .box3{
    border: 1px solid black;
    height: 125px;
    width: 300px;
    margin: 10px;
    overflow: visible;
  }

  .box4{
    border: 1px solid black;
    height: 125px;
    width: 300px;
    margin: 20px;
    overflow: hidden;
  }

  .box5{
    border: 1px solid black;
    height: 125px;
    width: 300px;
    margin: 20px;
    overflow: scroll;
  }