.container{
    height: 400px;
    width: 400px;
    border: 2px solid black;
    background-color: teal;
    display: flex;
    /* justify-content: center;
    align-items: center; */
}
.box{
    height: 150px;
    width: 150px;
    border: 1px solid black;
    text-align: center;
    margin: 5px;

    /* Using transition effect */

    transition-delay: 0.3s;
    transition-duration: 5s;
    transition-property: transform;

    transition-timing-function: ease;
    transition-timing-function: ease-in;
    transition-timing-function: ease-out;
    transition-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
    
    transition: background-color 1s ease 0.3s;  /* short hand attribute to use all these transition propert at a time */

    transition: all 1s cubic-bezier(0.39, 0.575, 0.565, 1) 0.3s; /* short hand attribute to use many transition effects at a time but we use it raerly becz its is not a good practice  */
}
.box:hover{
    transform: rotate(360deg) scale(1.08) translateX(120px) translateY(100px);
    background-color: crimson;
    
}